body,
app-login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

main.main {
  padding-top: 1.5rem;
}

.table thead th {
  border-top: 0;
  border-bottom-width: 1px;
}